.about {
  background-color: #192144;
  background-image: url("../img/mobile/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.about__wrapper {
  width: 270px;
  margin: 0 auto;
}

.about__heading {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;
  padding-left: 35px;
  padding-top: 20px;
}

.about__text {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  padding-top: 19px;
  padding-left: 35px;
  padding-right: 25px;

  &--thin {
    font-weight: 300;
  }

  &--bold {
    font-weight: 700;
  }
}
