.actions-list {
  list-style: none;
  width: 270px;
  position: relative;
  z-index: 10;
  counter-reset: li;
}

.actions-list__item {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #161c35;
  border-radius: 10px;
  background-color: #ffbd30;
  height: 100px;
  margin-top:-20px;
  &:nth-child(even) {
    background-color: #ffa530;
  }
  &:last-child {
    background-color: #ffd74b;
    height: 80px;
  }
  &:first-child {
    background-color: #ff8d30;
  }
  &::after {
    counter-increment: li;
    content: counter(li);
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
  }
}

.actions-list__span {
  display: block;
  width: 165px;
  height: 36px;
  padding-left: 25px;
  padding-top: 21px;
}
