.contacts {
  background-color: #ffd74b;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: 66px;
  padding-bottom: 35px;
}

.contacts__text {
  display: flex;
  position: relative;
  font-weight: 700;


  line-height: 22px;
  color: #192144;
  text-transform: uppercase;
  &--span {
    width: 180px;
  }
  &::before {
    position: relative;
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #121936 url("../img/icons/recolorized/yellow/contacts-location.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 22px;
    margin-right: 17px;
    margin-left: 25px;
  }
}

.contacts__link {
  position: relative;
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 56px;
  color: #1d2e5b;
  text-decoration: none;
  width: 270px;
  height: 62px;
  border: 3px solid #1d2e5b;
  border-radius: 10px;
  padding-left: 20px;
  margin: 0 auto;
  margin-top: 32px;
  &::after {
    position: absolute;
    bottom: 21px;
    right: 18px;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../img/icons/recolorized/blue/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 14px;
  }
}
