.contacts-list {
  list-style: none;
  text-align: left;
}

.contacts-list__item {
  display: flex;
  flex-direction: row;
}

.contacts-list__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 45px;
  text-decoration: none;
  text-transform: uppercase;
  color: #192144;
  display: flex;
  flex-direction: row;
  &--cta {
    color: #ffd74b;
  }
  &--phone {
    &::before {
      content: "";
      display: flex;
      width: 45px;
      height: 45px;
      background: #192144 url("../../img/icons/recolorized/contacts-phone-yellow.svg");
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      margin-right: 15px;
    }
  }
  &--phone-cta {
    &::before {
      content: "";
      display: flex;
      width: 45px;
      height: 45px;
      background: #121936 url("../../img/icons/recolorized/contacts-phone-yellow.svg");
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      margin-right: 15px;
    }
  }
  &--email {
    &::before {
      content: "";
      display: flex;
      width: 45px;
      height: 45px;
      background: #192144 url("../../img/icons/recolorized/contacts-mail-yellow.svg");
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      margin-right: 15px;
    }
  }
  &--email-cta {
    &::before {
      content: "";
      display: flex;
      width: 45px;
      height: 45px;
      background: #121936 url("../../img/icons/recolorized/contacts-mail-yellow.svg");
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      margin-right: 15px;
    }
  }
}

.contacts-list__span {
  margin-left: 16px;
}
