.contacts {
  background-color: #ffd74b;
}

.contacts__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #121936;
    background-image: url("../img/icons/recolorized/yellow/contacts-location.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 22px;
    margin-right: 17px;
    margin-left: 25px;
  }
}

.contacts__text {
  display: flex;
  position: relative;
  font-weight: 700;
  line-height: 22px;
  color: #192144;
  text-transform: uppercase;
  padding-left: 86px;
  padding-top: 2px;
  padding-right: 50px;
}

.contacts__link {
  position: relative;
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #1d2e5b;
  text-decoration: none;
  width: 270px;
  border: 3px solid #1d2e5b;
  border-radius: 10px;
  padding-left: 20px;
  margin: 0 auto;
  margin-top: 31px;
  z-index: 5;

  &::after {
    position: absolute;
    bottom: 21px;
    right: 18px;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/icons/recolorized/blue/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 14px;
  }
}
