.contacts-list {
  list-style: none;
  text-align: left;
}

.contacts-list__item {
  display: flex;
}

.contacts-list__link {
  font-weight: 700;
  line-height: 45px;
  text-decoration: none;
  text-transform: uppercase;
  color: #192144;
  display: flex;
  &::before {
    content: "";
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #192144;
  }
  &--cta {
    color: #ffd74b;
    &::before {
      background-color: #121936;
    }
  }
  &--phone {
    &::before {
      background-image:  url("../img/icons/recolorized/contacts-phone-yellow.svg");
    }
  }
  &--email {
    &::before {
      background-image: url("../img/icons/recolorized/contacts-mail-yellow.svg");
    }
  }
}
