.country-card {
  margin: 0 auto;
  border-radius: 10px;
  background: #ffffff;
}

.country-card__country-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.country-card__description {
  position: relative;
  z-index: 1;
  width: 270px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  margin-top: -16px;
}

.country-card__text-wrapper {
  position: relative;
  margin-left: 24px;
  margin-top: 3px;
  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 1px;
    display: block;
    width: 35px;
    height: 24px;
    background: blue url("");
    border-radius: 3px;
  }
}


.country-card__name {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: #161c35;
  padding-top: 24px;
}

.country-card__visited-number {
  margin: 0;
  display: flex;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  opacity: 30%;
  margin-right: 0;
  margin-left: auto;
  padding-right: 24px;
  padding-top: 25px;
  &::before {
    content: "";
    position: relative;
    width: 12px;
    height: 12px;
    background-image: url("../img/icons/user.svg");
    background-repeat: no-repeat;
    background-size: 11px 11px;
    opacity: 25%;
    margin-right: 6px;
    margin-top: 7px;
  }
}

.country-card__slogan {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  opacity: 30%;
  padding-bottom: 24px;
}
