.country-card {
  margin: 0 auto;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.country-card__country-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.country-card__description {
  width: 270px;
  height: 90px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
}

.country-card__text-wrapper {
  position: relative;
  margin-left: 24px;
  margin-top: 3px;
  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 1px;
    display: block;
    width: 35px;
    height: 24px;
    background: blue url("");
    border-radius: 3px;
  }
}


.country-card__name {
  font-weight: 700;

  font-size: 21px;
  line-height: 21px;
  color: #161c35;
}

.country-card__visited-number {
  position: relative;
  font-weight: 500;

  font-size: 16px;
  line-height: 30px;
  color: #444444;
  opacity: 30%;
  margin-right: 0;
  margin-left: auto;
  margin-right: 24px;
  margin-top: 22px;
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -18px;
    display: block;
    width: 12px;
    height: 12px;
    background-image: url("../img/icons/user.svg");
    background-repeat: no-repeat;
    background-size: 11px 11px;
    opacity: 25%;
  }
}

.country-card__slogan {
  font-weight: 500;

  font-size: 16px;
  line-height: 18px;
  color: #444444;
  opacity: 30%;
  margin-top: -18px;
}
