.cta-form {
  background-color: #192144;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.cta-form__heading {
  width: 270px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;
  text-align: center;
}

.cta-form__text {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  width: 270px;
  margin: 0 auto;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;

  &--questions {
    margin-top: 7px;
  }
}

.cta-form__link {
  color: #ffd74b;
}

.cta-form__email-form {
  width: 270px;
  margin: 0 auto;
  position: relative;
  padding-top: 28px;
}

.cta-form__input {
  font-weight: 700;
  position: relative;
  display: block;
  background-color: #ffffff;
  border: none;
  width: 270px;
  height: 62px;
  padding-left: 23px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 60px;

  &::placeholder {
    color: #444444;
    opacity: 0.3;
  }
}

.cta-form__button {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  background: none;
  display: block;
  height: 62px;
  width: 60px;
  border-radius: 10px;
  background-color: #ffd74b;
  background-image: url("../img/icons/recolorized/blue/triangle-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 27px 50%;
  background-size: 10px 14px;
}

.cta-form__contacts-list {
  width: 320px;
  margin: 0 auto;
  margin-top: 19px;
  padding-left: 25px;
}
