.duration-fieldset {
  border: none;
}

.duration-fieldset__legend {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;
  padding-top: 11px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &::after {
    content: "Дн.";
    opacity: 0.3;
    text-align: right;
  }
}

.duration-fieldset__input-wrapper {
  border: 1px solid #cbced9;
  border-radius: 4px;
  margin-right: 11px;
  margin-left: 11px;
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 9px;
}

.duration-fieldset__input {
  font-size: 14.86px;
  line-height: 13.37px;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #1d2e5b;
  border: none;
  text-align: center;
}

.duration-fieldset__minus-button {
  border: none;
  background: none;
  background-image: url("../img/icons/mobile/qty-minus-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  margin-right: 9px;
  width: 14px;
  height: 14px;
}

.duration-fieldset__plus-button {
  border: none;
  background: none;
  background-image: url("../img/icons/mobile/qty-plus-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  margin-left: 9px;
  width: 14px;
  height: 14px;
}
