.footer {
  position: relative;
  z-index: 3;
  min-width: 320px;
  height: 239px;
  background-color: #ffffff;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  display: flex;
  flex-direction: column;
  margin-top: -228px;
}

.footer__footer-info {
  padding-top: 37px;
}

.footer__developed-by {
  margin-top: 28px;
}
