.functions-list {
  list-style: none;
  display: flex;
  padding-left: 21px;
}

.functions-list__link {
  text-decoration: none;
  color: #161c35;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  &--phone {
    background-color: #ff8d30;
    background-image: url("../img/icons/topmenu-phone.svg");
    background-size: 18px 18px;
  }
  &--email {
    background-color: #ffbd30;
    background-image: url("../img/icons/topmenu-mail.svg");
    background-size: 18px 14px;
  }
  &--auth {
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 190px;
    border-radius: 25px;
    background-color: #ffd74b;
  }
}
