.hashtags-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  &--catalog {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -5px;
    margin-top: -28px;
  }
}

.hashtags-list__item {
  &--catalog {
    margin-bottom: -30px;
  }
}

.hashtags-list__link {
  font-weight: 400;

  font-size: 16px;
  line-height: 18px;
  margin-left: 5px;
  text-decoration: none;
  color: #444444;
  &--catalog {
    font-size: 15px;
    line-height: 18px;
    margin-left: 3px;
    &::before {
      content: "#"
    }
  }
  &::before {
    content: "#"
  }
}
