.main__about {
  position: relative;
  padding-left: 50px;
  padding-right: 70px;
  margin-top: -240px;
  padding-top: 292px;
  padding-bottom: 31px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -50px;
    left: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #192144;
    z-index: 3;
  }
}

.main__heading-section {
  display: flex;
  position: relative;
  z-index: 5;
  min-width: 320px;
  background: #161c35;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -10px;
    left: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: inherit;
    z-index: 3;
  }
}

.main__heading {
  position: relative;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  margin-left: 25px;
  padding-top: 34px;
  z-index: 5;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    z-index: 5;
    bottom: -12px;
    display: block;
    border-radius: 2.39px;
    background-color: #ff8d30;
  }

  &--form {
    &::after {
      content: "";
      width: 101%;
      height: 5px;
    }
  }

  &--catalog {
    &::after {
      content: "";
      width: 101%;
      height: 5px;
    }
  }
}


.main__travelmates {
  position: relative;
  padding-top: 77px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -30px;
    left: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: inherit;
    z-index: 3;
  }
}

.main__rates {
  position: relative;
  padding-top: 60px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -38px;
    left: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: inherit;
    z-index: 3;
  }
}

.main__cta-form {
  position: relative;
  padding-top: 110px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -29px;
    left: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: inherit;
    z-index: 3;
  }
}

.main__contacts {
  position: relative;
  padding-top: 45px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -35px;
    left: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: inherit;
    z-index: 3;
  }
}

.main__countries {
  padding-top: 99px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -30px;
    left: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: inherit;
    z-index: 3;
  }
}

.main__personal-info {
  padding-top: 34px;
  background-color: #edeff6;
  padding-bottom: 80px;
}

.main__plan {
  position: relative;
  background-color: #dfe3f0;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    top: -47px;
    left: 0;
    background-color: inherit;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 3;
  }
}

.main__add-plan {
  position: relative;
  background-color: #d4d9eb;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    top: -29px;
    left: 0;
    background-color: inherit;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 3;
  }
}

.main__travelmates-filter {
  padding-top: 23px;
  padding-bottom: 20px;
}
