.main__heading-section {
  position: relative;
  min-width: 320px;
  height: 120px;
  background: #161c35;
  margin-top: -44px;
  border-radius: 20px;
}

.main__heading {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  margin-left: 25px;
  padding-top: 66px;
  &--form {
    &::after {
    position: absolute;
    content: "";
    display: block;
    width: 214px;
    height: 5px;
    border-radius: 2.39px;
    background: #ff8d30;
    bottom: -2px;
    }
  }
  &--catalog {
    &::after {
    position: absolute;
    content: "";
    display: block;
    width: 173px;
    height: 5px;
    border-radius: 2.39px;
    background: #ff8d30;
    bottom: -2px;
    }
  }
}

.main__travelmates {
  position: relative;
  z-index: 7;
  margin-top: -50px;
}

.main__rates {
  position: relative;
  z-index: 6;
  margin-top: -50px;
}

.main__cta-form {
  position: relative;
  z-index: 5;
  margin-top: -50px;
}

.main__contacts {
  position: relative;
  z-index: 4;
  margin-top: -50px;
}

.main__map {
  position: relative;
  z-index: 2;
  margin-top: -50px;
}
