.page-navigation {
  list-style: none;
  display: flex;
  width: 270px;
  height: 50px;
  background: #ffffff;
  border-radius: 20px;
  margin: 0 auto;
  padding-left: 0;
}

.page-navigation__link {
  display: block;
  width: 135px;
  height: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 20px;
  &--previous {
    border-right: 1px solid #edeff6;
    background-image: url("../img/icons/recolorized/192144/triangle-arrow-left.svg");
  }
  &--next {
    background-image: url("../img/icons/recolorized/192144/triangle-arrow-right.svg");
  }
}
