.rates-list {
  list-style: none;
  padding-left: 0px;
}

.rates-list__item {
  position: relative;
  display: flex;
  flex-direction: row;
}

.rates-list__text {
  display: flex;
  flex-direction: column;
}

.rates-list__span {
  font-weight: 300;

  font-size: 16px;
  line-height: 22px;
  color: #444444;
}
