.transport-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;

  &--catalog {
    justify-content: flex-end;
    padding-left: 25px;
  }
}

.transport-list__item {
  position: relative;
  z-index: 10;
  margin-left: 5px;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.15;

  &--plane {
    background-image: url("../img/transport/plane.svg");
  }

  &--plane-active {
    background-image: url("../img/transport/recolorized/blue/plane.svg");
    opacity: 1;
  }

  &--bus {
    background-image: url("../img/transport/bus.svg");
  }

  &--bus-active {
    background-image: url("../img/transport/recolorized/blue/bus.svg");
    opacity: 1;
  }

  &--bycicle {
    background-image: url("../img/transport/bike.svg");
  }

  &--bycicle-active {
    background-image: url("../img/transport/recolorized/blue/bike.svg");
    opacity: 1;
  }

  &--run {
    background-image: url("../img/transport/run.svg");
  }

  &--run-active {
    background-image: url("../img/transport/recolorized/blue/run.svg");
    opacity: 1;
  }

  &--catalog {
    margin: 0;
    display: block;
    width: 32px;
    height: 32px;
    background-color: #edeff6;
    border-radius: 50%;
    opacity: 1;
    margin-top: 1px;
    background-size: auto 17px;
  }

  &--catalog-plane {
    background-image: url("../img/transport/recolorized/gray/plane.svg");
  }

  &--catalog-bus {
    background-image: url("../img/transport/recolorized/gray/bus.svg");
  }

  &--catalog-bycicle {
    background-image: url("../img/transport/recolorized/gray/bike.svg");
  }

  &--catalog-run {
    background-image: url("../img/transport/recolorized/gray/run.svg");
  }

  &--catalog-plane-active {
    background-image: url("../img/transport/recolorized/blue/plane.svg");
  }

  &--catalog-bus-active {
    background-image: url("../img/transport/recolorized/blue/bus.svg");
  }

  &--catalog-bycicle-active {
    background-image: url("../img/transport/recolorized/blue/bike.svg");
  }

  &--catalog-run-active {
    background-image: url("../img/transport/recolorized/blue/run.svg");
  }
}
