.travelmates {
  background: #192144;
  padding-bottom: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.travelmates__heading {
  font-family: $main-font;
  color: #ff8d30;
  padding-top: 97px;
  margin-left: 50px;
}

.travelmates__text {
  font-family: $main-font;
  color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
  &--thin {
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
  }
  &--bold {
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
  }
}

.travelmates__list {
  padding-left: 0;
  margin-top: 58px;
}

.travelmates__travelmate-card {
  margin: 0 auto;
  margin-top: 10px;
}

.travelmates__show-all {
  position: relative;
  font-family: $main-font;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 62px;
  text-decoration: none;
  color: #1d2e5b;
  display: block;
  width: 270px;
  height: 62px;
  margin: 0 auto;
  border-radius: 10px;
  background: #ffd74b;
  box-sizing: border-box;
  padding-left: 24px;
  margin-top: 20px;
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    background-image: url("../../img/icons/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 24px;
    right: 21px;
  }
}
