.travelmates-sorted {
  background-color: #edeff6;
  padding-bottom: 60px;
}

.travelmates-sorted__list {
  margin-top: -2px;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travelmates-sorted__link {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #1d2e5b;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 150px;
  height: 20px;
  text-align: center;
  margin: 0 auto;

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    background: url("../img/icons/recolorized/blue/show-more-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    margin-right: 16px;
  }
}

.travelmates-sorted__travelmate-catalog {
  margin-top: 10px;
}

.travelmates-sorted__page-navigation {
  margin-top: 24px;
}
